<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 6235d0d06a8f3f214ab06ec3b3680c29e16b78f3
.container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.logo {
    height: 100%;
    width: auto;
}
.contact {
    height: 100px;
<<<<<<< HEAD
=======
}
.info{
    flex-direction: column;
=======
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin-right: 0;
}

.logo{
    height: 100px;
>>>>>>> 073b8d248140360991a65780890fb11c69daa362
>>>>>>> 6235d0d06a8f3f214ab06ec3b3680c29e16b78f3
}