.container {
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.logo {
    height: auto;
    max-width: 50%;
}
.logo2{
    justify-content: center;
    align-items: center;
    display: flex;
}
.contact{
    display: flex;
    flex-direction: row;
}
.contact div{
    width: 500px;

}
.info {
    font-size: small;
    border: 1px solid dimgray;

}
nav{
    background-color: dimgray;

}
nav ul{
    width: 90%;
    display: flex;

    flex-flow: row;
    list-style-type: none;
}

nav ul li{
    text-align: center;
    flex: 1;
    justify-content: space-between; !important;
    font-family: "Arial Narrow";
    font-weight: bold;


}
a:link,
a:visited{
    color: white;
    text-decoration: none;
}

.serv {

}

.service {
    display: flex;
    flex-direction: row;
}
h1 {
    text-align: center;
}