/******************************************************************************************************************************************
Created by Przemysław Toś AKA Scryt and Hania Yarchuk

linked in profile: https://www.linkedin.com/in/scryt/
github: https://github.com/Scryt

Graphics made by Marcin Maciaszczuk
******************************************************************************************************************************************/


/**********************************************
GENERAL
**********************************************/
*{
    font-family: 'Roboto Slab', serif;
}

body{
    background-color: #F4F4F4;
}
h1 {
    text-align: center;
}
h3 {
    color: #9461A6;
}
.container {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/*******
Navbar
*******/

.navbar{
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.nav-item{
    padding: 0 35px;
}
nav a:link,
nav a:visited{
    text-decoration: none;
    font-weight: lighter;
}
/*******
Banner
*******/

.banner{
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.bg-image{
    border-bottom: 5px solid #9461A6;
    height: auto;
    max-width: 100%;
    position: relative;
}
.contact_inf_short{
    position: absolute;
    top: 30px;
    right: 275px;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 90px;
    width: auto;
}
.phone_det{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 22px;
}
.phone_det div p{
    margin: 0;
    padding-left: 10px;
    font-size: 0.9rem;
    color: #9461A6;
}

.phone_icon{
    width: auto;
    height: 37px;
}

/*******
Footer
*******/

.contact{
    display: flex;
    flex-direction: row;
    height: 150px;
    
}
.logo_grey{
text-align: right;
margin-top: 15px;
}


.footer_color{
    background-color: #383838;
}

.contact div{
    width: 90%;
    padding-top: 10px;

}
.info {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #aaa8a4;
    justify-content: space-between;
}
.address {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    color: #aaa8a4;

}
footer{
    float: right; font-size: 9px;   !important;
}

/**********************************************
HOMEPAGE
**********************************************/
.description{
    display: flex;
    flex-direction: row;
    max-width: 70%;
    justify-content: center;
    align-items: center;
}

.description img{
    width: 200px;
    height: auto;
}

.description div{
    margin: 50px 45px;
    text-align: center;
}

.description div p{
    justify-content: center;
    color: #A5A5A5;
    max-width: 250px;
}

.testimonials{

    margin: 0;
    max-width: 100%;
    background-image: url("../images/testimonials_bg.png");
    height: 300px;
    flex-direction: column;
}

.testimonials h2{
    color: #9461A6;
    width: 20%;
    text-align: right;
}

.testimonials ul{
    list-style-type: none;
    max-width: 90%;
    margin: auto;
}
.testimonials ul li {
    padding: 0 35px;
}
.testimonials ul li label{
    float: right;
}
.feedback{
    display: flex;
    flex-direction: row;
}
/**********************************************
SERVICE
**********************************************/

.service {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}
.icon {
    width: 300px;
    height: 300px;
    margin-right: 150px;
}
.serv {
    display: flex;
    flex-direction: row;

}
.serv h2 {
    text-align: left;
    color: #8c6ba5;
}
.serv ul {
    color: #828283;
    text-indent: 30px;
    line-height: 1.7;
}

/**********************************************
CONTACT
**********************************************/
.contact_data p{
    color: #9461A6;
    margin: 0;
}
.contact_data img{
    align-items: flex-start;
    float: left;
}
.contact_data div{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 15px 25px;
    padding: 0;
}
.contact_data div div{
    align-items: flex-start;
    flex-direction: column;
}
#smaller{
    font-size: 0.7em;
}

.con_form,
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 500px;
    margin: 5px;
}
.con_form p{
    padding: 10px;
    margin: 5px;
}

input[type=text],
select,
textarea {
    resize: vertical;

}
#other{
    height: 150px;
}
